/** Галерея **/

.gallery {
    padding: 88px 0;
    background-color: var(--dark-byzantine-blue);
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  .gallery__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 16px;
  }
  
  .gallery__item {
    border-radius: 6px;
  }
  
  .gallery__item:hover {
    opacity: 0.6;
    transform: scale(1.02);
  }
  
  .gallery__item-link {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .gallery__item-link-image {
    object-fit: cover;
    border-radius: 6px;
  }
  
  .gallery__video-icon-time {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--white);
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .time {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.32px;
  }
  
  .play-icon {
    width: 16px;
    height: 16px;
  }