/** Responsive size for 1280px **/
@media (max-width: 1280px) {
  .container {
    max-width: 974px;
  }
}

/** Responsive size for 1000px **/
@media (max-width: 1000px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero__about-freelancer-avatar {
    min-width: 284px;
    max-width: 384px;
    aspect-ratio: 1;
  }
}

/** Responsive size for 768px **/
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  /** Хиро Секция **/

  .hero__about-freelancer-subheading {
    font-size: 18px;
    line-height: 24px;
  }

  .hero__about-freelancer-name {
    font-size: 44px;
    line-height: 54px;
  }

  .hero__about-freelancer-description {
    margin-top: 18px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .hero__about-freelancer-avatar {
    min-width: 240px;
    max-width: 288px;
    aspect-ratio: 1;
  }

  /** Со мной удобно работать **/

  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .features__features-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /** Портфолио **/

  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .portfolio__card-list-item {
    position: relative;
    display: grid;
    gap: 16px;
    padding: 24px 24px;
    height: 216px;
  }

    /** Галерея **/

    .gallery {
      padding: 60px 0;
    }

    /** Подвал сайта **/

    .footer {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .footer__heading {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 47px;
    }

    .footer__form-and-contacts {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 60px;
    }

    .footer__contacts-container-contacts {
      display: grid;
      grid-template-columns: 1fr;

      gap: 32px 16px;
      align-items: center;
    }
    
}

@media (max-width: 600px) {

 /** Hero section **/

 .hero {
  padding: 40px 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__about-freelancer {
  align-items: center;
}

.hero__about-freelancer-subheading {
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
  padding-bottom: 4px;
}

.hero__about-freelancer-name {
  font-size: 44px;
  text-align: center;
  line-height: 54px;
}

.hero__about-freelancer-description {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 32px;
}

.hero__about-freelancer-avatar {
  max-width: 200px;
  min-width: 180px;
  aspect-ratio: 1;
  order: -1;
}

.hero-button {
  width: 100%;
}

  /** Портфолио **/
  .portfolio__card-list-item {
    position: relative;
    display: grid;
    gap: 16px;
    padding: 20px 20px;
    height: 180px;
  }

/** Галерея **/
  .gallery__block {
    display: grid;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-columns: 252px;
    column-gap: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding-bottom: 16px;
    height: 272px;
  }

  .gallery__block > li {
    scroll-snap-align: start;
  }

  .gallery__block::-webkit-scrollbar {
    height: 4px;
    border-radius: 6px;
    background-color: #CECECE;
  }

  .gallery__block::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 6px;
  }

  .gallery__block::-webkit-scrollbar-track {
 
    background-color: #CECECE;
    border-radius: 6px;
  }

  /** Подвал сайта **/

  .footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .footer__heading {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 47px;
  }

  .footer__form-and-contacts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .footer__contacts-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--white);
  }

  .footer__contacts-container-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 16px;
    align-items: center;
  }

  .footer__contacts-container-privacy-policy {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    color: #949494;
  }
}

/** Responsive size for 480px **/
@media (max-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  /** Hero section **/

  .hero {
    padding: 40px 32px 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .hero__about-freelancer {
    align-items: center;
  }

  .hero__about-freelancer-subheading {
    font-size: 18px;
    text-align: center;
    line-height: 1.7;
    padding-bottom: 4px;
  }

  .hero__about-freelancer-name {
    font-size: 44px;
    text-align: center;
    line-height: 54px;
  }

  .hero__about-freelancer-description {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .hero__about-freelancer-avatar {
    max-width: 180px;
    min-width: 110px;
    aspect-ratio: 1;
    order: -1;
  }

  .hero-button {
    width: 100%;
  }

  /** Со мной удобно работать **/

  .features {
    padding: 48px 0;
  }

  .features__heading {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 32px;
  }

  .features__features-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .features__features-block-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .features__features-block-item-icon {
    width: 32px;
    height: 32px;
  }

  .features__features-block-item-text-content {
    gap: 8px;
  }

  .features__features-block-item-text-content-heading {
    font-size: 20px;
    line-height: 32px;
  }

  .features__features-block-item-text-content-description {
    font-size: 14px;
    line-height: 1.7;
  }

  /** Портфолио **/

  .portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .portfolio__heading {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
  }

  .portfolio__card-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .portfolio__card-list-item {
    position: relative;
    display: grid;
    gap: 16px;
    padding: 20px 20px;
    height: 300px;
  }

   /** Галерея **/

   .gallery {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .gallery__block {
    display: grid;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    column-gap: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding-bottom: 24px;
    height: 228px;
  }

  .gallery__block > li {
    scroll-snap-align: start;
  }

  .gallery__block::-webkit-scrollbar {
    height: 4px;
    border-radius: 6px;
    background-color: #CECECE;
  }

  .gallery__block::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 6px;
  }

  .gallery__block::-webkit-scrollbar-track {
 
    background-color: #CECECE;
    border-radius: 6px;
  }

    /** Подвал сайта **/

    .footer {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  
    .footer__heading {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 24px;
    }
  
    .footer__form-and-contacts {
      display: grid;
      grid-template-columns: 1fr;
      gap: 48px;
    }

    .footer__form-container {
      padding: 32px 18px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-content: center;
      background-color: var(--white);
      width: 100%;
      border-radius: 6px;
      box-shadow: -5px 5px 0px var(--accent);
    }

    .footer__form-container-heading {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.4;
    }
  
    .footer__contacts-container {
      display: flex;
      flex-direction: column;
      gap: 60px;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      color: var(--white);
    }
  
    .footer__contacts-container-contacts {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
      align-items: center;
    }
  
    .footer__contacts-container-privacy-policy {
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      color: #949494;
    }
}

/** Responsive size for 320px **/
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  /** header section **/

  .header {
    padding: 32px 24px;
  }

  .social-icon {
    width: 16px;
    height: 16px;
  }

  /** Hero section **/

  .hero {
    width: 320px;
    padding: 8px 24px 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .hero__about-freelancer {
    align-items: center;
  }

  .hero__about-freelancer-subheading {
    font-size: 16px;
    text-align: center;
    line-height: 1.7;
    padding-bottom: 4px;
  }

  .hero__about-freelancer-name {
    font-size: 24px;
    text-align: center;
    line-height: normal;
  }

  .hero__about-freelancer-description {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .hero__about-freelancer-avatar {
    width: 110px;
    aspect-ratio: 1;
    order: -1;
  }

  .button {
    padding: 25px 62px;
    font-size: 10px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 1.3px;
  }

  .hero-button {
    width: 272px;
  }

  /** Со мной удобно работать **/

  .features {
    width: 320px;
    padding: 48px 0;
  }

  .features__heading {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 32px;
  }

  .features__features-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .features__features-block-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .features__features-block-item-icon {
    width: 32px;
    height: 32px;
  }

  .features__features-block-item-text-content {
    gap: 8px;
  }

  .features__features-block-item-text-content-heading {
    font-size: 18px;
    line-height: 28px;
  }

  .features__features-block-item-text-content-description {
    font-size: 12px;
    line-height: 1.7;
  }

  /** Порифолио **/

  .portfolio__heading {
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
  }

  .portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .portfolio__card-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .portfolio__card-list-item {
    position: relative;
    display: grid;
    gap: 16px;
    padding: 16px 16px;
    width: 272px;
    height: 180px;
  }

  /** Галерея **/

  .gallery {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .gallery__block {
    display: grid;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-columns: 129px;
    column-gap: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding-bottom: 24px;
    height: 153px;
  }

  .gallery__block > li {
    scroll-snap-align: start;
  }

  .gallery__block::-webkit-scrollbar {
    height: 4px;
    border-radius: 6px;
    background-color: #CECECE;
  }

  .gallery__block::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 6px;
  }

  .gallery__block::-webkit-scrollbar-track {
    background-color: #CECECE;
    border-radius: 6px;
  }

  /** Подвал сайта **/

  .footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .footer__heading {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
  }

  .footer__form-and-contacts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .footer__form-container {
    padding: 32px 18px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-content: center;
    background-color: var(--white);
    width: 100%;
    border-radius: 6px;
    box-shadow: -5px 5px 0px var(--accent);
  }

  .footer__form-container-heading {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
  }

  .footer__form-container-input {
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 5px;
    padding: 10px 16px;
    background: #f8f8f8;
    box-shadow: 0px 3px 10px 0px rgba(199, 199, 199, 0.25) inset;
  }

  .footer__contacts-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--white);
  }

  .footer__contacts-container-contacts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    align-items: center;
  }

  .footer__contacts-container-privacy-policy {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    color: #949494;
  }

  .button {
    padding: 16px 56px;
    font-size: 10px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 15.6px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 6px;
    color: var(--midnight);
    background-color: var(--accent);
    box-shadow: 0 4px 0 var(--shadow);
    border-style: none;
  }

  .footer__contacts-container-contacts-item-heading {
    font-size: 18px;
    line-height: normal;
  }

  .contact-link {
    font-size: 14px;
    line-height: normal;
  }
}
