/** Responsive size for 1280px **/
@media (max-width: 1280px) {
  .container {
    max-width: 974px;
  }
}

/** Responsive size for 1000px **/
@media (max-width: 1000px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/** Responsive size for 768px **/
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  /** Хиро Секция **/

  .hero__about-freelancer-subheading {
    font-size: 18px;
    line-height: 24px;
  }

  .hero__about-freelancer-name {
    font-size: 44px;
    line-height: 54px;
  }

  .hero__about-freelancer-description {
    margin-top: 18px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .hero__about-freelancer-avatar {
    width: 288px;
    aspect-ratio: 1;
  }

  /** Со мной удобно работать **/

  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .features__features-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /** Со мной удобно работать **/

  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .portfolio__card-list-item {
    position: relative;
    display: grid;
    gap: 16px;
    padding: 24px 24px;
    height: 216px;
  }
}

/** Responsive size for 480px **/
@media (max-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  /** Hero section **/

  .hero {
    padding: 40px 32px 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .hero__about-freelancer {
    align-items: center;
  }

  .hero__about-freelancer-subheading {
    font-size: 18px;
    text-align: center;
    line-height: 1.7;
    padding-bottom: 4px;
  }

  .hero__about-freelancer-name {
    font-size: 44px;
    text-align: center;
    line-height: 54px;
  }

  .hero__about-freelancer-description {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .hero__about-freelancer-avatar {
    width: 180px;
    aspect-ratio: 1;
    order: -1;
  }

  .hero-button {
    width: 100%;
  }

  /** Со мной удобно работать **/

  .features {
    padding: 48px 0;
  }

  .features__heading {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 32px;
  }

  .features__features-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .features__features-block-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .features__features-block-item-icon {
    width: 32px;
    height: 32px;
  }

  .features__features-block-item-text-content {
    gap: 8px;
  }

  .features__features-block-item-text-content-heading {
    font-size: 20px;
    line-height: 32px;
  }

  .features__features-block-item-text-content-description {
    font-size: 14px;
    line-height: 1.7;
  }

  /** Со мной удобно работать **/

  .portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .portfolio__card-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .portfolio__card-list-item {
    position: relative;
    display: grid;
    gap: 16px;
    padding: 20px 20px;
    height: 300px;
  }
}

/** Responsive size for 320px **/
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  /** header section **/

  .header {
    padding: 32px 24px;
  }

  .social-icon {
    width: 16px;
    height: 16px;
  }

  /** Hero section **/

  .hero {
    width: 320px;
    padding: 8px 24px 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .hero__about-freelancer {
    align-items: center;
  }

  .hero__about-freelancer-subheading {
    font-size: 16px;
    text-align: center;
    line-height: 1.7;
    padding-bottom: 4px;
  }

  .hero__about-freelancer-name {
    font-size: 24px;
    text-align: center;
    line-height: normal;
  }

  .hero__about-freelancer-description {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .hero__about-freelancer-avatar {
    width: 110px;
    aspect-ratio: 1;
    order: -1;
  }

  .button {
    padding: 25px 62px;
    font-size: 10px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 1.3px;
  }

  .hero-button {
    width: 272px;
  }

  /** Со мной удобно работать **/

  .features {
    width: 320px;
    padding: 48px 0;
  }

  .features__heading {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 32px;
  }

  .features__features-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .features__features-block-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .features__features-block-item-icon {
    width: 32px;
    height: 32px;
  }

  .features__features-block-item-text-content {
    gap: 8px;
  }

  .features__features-block-item-text-content-heading {
    font-size: 18px;
    line-height: 28px;
  }

  .features__features-block-item-text-content-description {
    font-size: 12px;
    line-height: 1.7;
  }

  /** Со мной удобно работать **/

  .portfolio__heading {
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
  }

  .portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .portfolio__card-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .portfolio__card-list-item {
    position: relative;
    display: grid;
    gap: 16px;
    padding: 16px 16px;
    width: 272px;
    height: 180px;
  }
}
