.container {
  width: 100%;
  max-width: 974px;
  margin: 0 auto;
}

/** Шапка сайта **/

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  margin: auto 0;
}

.social-links-list {
  width: 128px;
  display: flex;
  gap: 16px;
}

.social-links-list-item {
  list-style: none;
}

.social-link {
  display: block;
}

.social-link:hover {
  transform: scale(1.2);
}

.social-icon {
  width: 20px;
  height: 20px;
  object-position: top;
}

/** Хиро секция **/

.hero {
  padding: 48px 0 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.hero__about-freelancer {
  display: flex;
  flex-direction: column;
  max-width: 464px;
}

.hero__main-content-about {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--accent);
  padding-bottom: 12px;
}

.hero__heading-name {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  color: var(--white);
}

.hero__freelancer-description {
  margin-top: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--white);
  margin-bottom: 36px;
}

.button {
  padding: 25px 62px;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 15.6px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  color: var(--midnight);
  background-color: var(--accent);
  box-shadow: 0 4px 0 var(--shadow);
  border-style: none;
}

.hero-button {
  width: 300px;
}

.button:hover {
  background: var(--midnight);
  color: var(--white);
  box-shadow: 0 0 0 3px var(--white);
  transition: all 0.2s ease;
}

/** Со мной удобно работать **/

.features {
  padding: 88px 0;
  background-color: var(--dark-byzantine-blue);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.features__heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  color: var(--white);
  margin-bottom: 48px;
}

.features__features-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 48px 16px;
}

.features__block-item {
  min-width: 304px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--white);
}

.features__block-item-content {
  display: flex;
  flex-direction: column;
}

.features__block-item-icon {
  width: 52px;
  height: 52px;
}

.features__block-item-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 20px 0 16px;
}

.features__block-item-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/** Выполненные проекты **/

.portfolio {
  padding: 88px 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--white);
}

.portfolio__heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 48px;
}

.portfolio__card-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.portfolio__card-list-item {
  min-width: 304px;
  min-height: 304px;
  width: 304px;
  height: 304px;
  border-radius: 6px;
}

.portfolio__card-list-item:hover {
  transform: scale(1.02);
}

.portfolio__card-object {
  border-radius: 6px;
}

.portfolio__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 164px 32px 32px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--white);
}

.portfolio__card-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 35.34%,
    #213e60 99.85%
  );
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.portfolio__card-heading {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  z-index: 2;
}

.portfolio__card-button {
  width: 120px;
  padding: 10px 25px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.6px;
  color: var(--white);
  background-color: var(--rose-red);
  z-index: 3;
  box-shadow: 0 2px 0 0 #ce1c3e;
  border: none;
  border-radius: 6px;
}

.portfolio__card-button:hover {
  color: var(--dark-byzantine-blue);
  background-color: var(--white);
  box-shadow: 0 2px 0 0 var(--dark-byzantine-blue);
}

.card-type-one {
  background-image: url(../images/card-image-one.jpg);
}

.card-type-two {
  background-image: url(../images/card-image-two.png);
}

.card-type-three {
  background-image: url(../images/card-image-three.png);
}

/** Галерея **/

.gallery {
  padding: 88px 0;
  background-color: var(--dark-byzantine-blue);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.gallery__block {
  display: grid;
  grid-template-columns: repeat(4, 224px);
  grid-template-rows: repeat(3, 224px);
  gap: 16px 16px;
}

.gallery__item {
  border-radius: 6px;
}

.gallery__item:hover {
  opacity: 0.6;
  transform: scale(1.02);
}

.gallery__item-link {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery__item-link-image {
  object-fit: cover;
  border-radius: 6px;
}

.gallery__video-icon-time {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--white);
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 4px;
}

.time {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.play-icon {
  width: 16px;
  height: 16px;
}

/** Подвал сайта **/

.footer {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--white);
  padding: 88px 0;
}

.footer__heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 47px;
}

.footer__form-and-contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
}

.footer__form-container {
  padding: 38px 38px 42px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-content: center;
  background-color: var(--white);
  width: 100%;
  height: 422px;
  border-radius: 6px;
  box-shadow: -5px 5px 0px var(--accent);
}

.footer__form-container-heading {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: var(--black);
}

.footer__form-container-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__form-container-input {
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 5px;
  padding: 20px 32px;
  background: #f8f8f8;
  box-shadow: 0px 3px 10px 0px rgba(199, 199, 199, 0.25) inset;
}

.input-style {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  background-color: transparent;
  border-style: none;
  outline: none;
  color: #949494;
}

.footer__contacts-container {
  display: flex;
  flex-direction: column;
  gap: 236px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--white);
}

.footer__contacts-container-contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px 16px;
  align-items: center;
}

.footer__contacts-container-contacts-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contacts-container-contacts-item-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.contact-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  color: var(--white);
}

.footer__contacts-container-privacy-policy {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  color: #949494;
}
